@import url('https://fonts.gooleapis.com/css?family=Quicksand&display=swap');


body{
	margin:0;
	padding:0;
	background-color: #000;
	font-family:'Quicksand', sans-serif; 
}

}
div{

	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 350px;
	border: 10px solid #7c2323;
	border-radius:50%;
	transition: .5s all; 

}
div:hover{
	border-radius:0; 
}
div:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background-color:#7c2323;
	transform:rotate(45deg);  
}
div:hover:before{
	background-color: rgba(25,25,25,0.6); 
}
div p{
	position:absolute;
	top:45%;
	transform:translateY(-5%);
	width:100%
	color:white;
	font-size: 20px;
	padding:50px;
	box-sizing: border-box;
	text-align:center;
}
